@import 'tailwindcss';
@import 'uniwind';

@layer theme {
    :root {

        @variant dark {
            --color-primary: #f97316;
            --color-secondary: #fdba74;
            --color-background: #161218;
            --color-surface: #2a252e;
            --color-border: #3d3642;

            --color-text-primary: #DEDEDE;
            --color-text-secondary: #9E9E9E;
            --color-text-tertiary: #636363;
        }

        @variant light {
            --color-primary: #f97316;
            --color-secondary: #fdba74;
            --color-background: #fff7ed;
            --color-surface: #ffedd5;
            --color-border: #fed7aa;

            --color-text-primary: #060606;
            --color-text-secondary: #484848;
            --color-text-tertiary: #808080;
        }

        @variant ocean-light {
            --color-primary: #0ea5e9;
            --color-secondary: #7dd3fc;
            --color-background: #f0f9ff;
            --color-surface: #e0f2fe;
            --color-border: #bae6fd;

            --color-text-primary: #060606;
            --color-text-secondary: #484848;
            --color-text-tertiary: #808080;
        }

        @variant ocean-dark {
            --color-primary: #0369a1;
            --color-secondary: #0c4a6e;
            --color-background: #030712;
            --color-surface: #111827;
            --color-border: #1f2937;

            --color-text-primary: #DEDEDE;
            --color-text-secondary: #9E9E9E;
            --color-text-tertiary: #636363;
        }

    }
}