@import 'tailwindcss';
@import 'uniwind';

@layer theme {
    :root {

        @variant dark {
            --color-primary: #c2410c;
            --color-secondary: #431407;
            --color-background: #161218;
            --color-foreground: #fed7aa;
            --color-surface: #2a252e;
            --color-border: #3d3642;
        }

        @variant light {
            --color-primary: #f97316;
            --color-secondary: #fdba74;
            --color-background: #fff7ed;
            --color-foreground: #431407;
            --color-surface: #ffedd5;
            --color-border: #fed7aa;
        }

        @variant ocean-light {
            --color-primary: #0ea5e9;
            --color-secondary: #7dd3fc;
            --color-background: #f0f9ff;
            --color-foreground: #082f49;
            --color-surface: #e0f2fe;
            --color-border: #bae6fd;
        }

        @variant ocean-dark {
            --color-primary: #0369a1;
            --color-secondary: #0c4a6e;
            --color-background: #030712;
            --color-foreground: #f9fafb;
            --color-surface: #111827;
            --color-border: #1f2937;
        }

    }
}